<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" >
    <test name="E2E" >
        <classes>
            <class name="org.gu.mobile.android.FlowTests" />
        </classes>
    </test>
    <test name="Pages">
        <classes>
            <class name="org.gu.mobile.android.MainPageTests"/>
            <class name="org.gu.mobile.android.ListPageTests"/>
            <class name="org.gu.mobile.android.ListsSortingTests"/>
        </classes>
    </test>
    <test name="Features">
        <classes>
            <class name="org.gu.mobile.android.SettingsTests"/>
            <class name="org.gu.mobile.android.ExitTests"/>
        </classes>
    </test>
</suite>
